{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "ecmaFeatures": {
      "globalReturn": false
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "plugins": ["prettier"],
  "extends": [
  "eslint:recommended",
  "plugin:prettier/recommended"
  ],
  "rules": {
    "no-unused-vars": ["error", { "args": "none" }],
    "require-atomic-updates": "off"
  }
}
